version: '3'
services:
  redis:
    image: redis:6.2-alpine
    container_name: redis
    ports:
      - 6379:6379
    command: redis-server
    restart: always
  app:
    build: .
    container_name: app
    ports:
      - 3000:3000
    environment:
      ACCESS_KEY: *your key goes here*
      REDIS_PORT: 6379
      REDIS_HOST: redis
